/* Estilos do Header */
header {
  background-color: #0a5c0d;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative; /* Para o ícone do menu ficar posicionado corretamente */
}

/* Logo */
header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Links do Menu */
header nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Ícone do menu hambúrguer */
#menu-icon {
  display: none;
  font-size: 30px;  /* Ajuste o tamanho conforme necessário */
  color: white;
  cursor: pointer;
}

/* Navbar em telas pequenas (responsivas) */
@media (max-width: 768px) {
  header nav {
    display: none; /* Esconde o menu por padrão */
    width: 100%; /* Garante que a navbar ocupe toda a largura */
    flex-direction: column; /* Alinha os links verticalmente */
    text-align: center;
    gap: 10px; /* Espaçamento entre os links */
  }

  /* Mostrar a navbar quando a classe 'active' for adicionada */
  header nav.active {
    display: flex;
  }

  /* Exibir o ícone do menu */
  #menu-icon {
    display: block;
  }
}


  /* Estilo do botao de login e cadastro */

 .btn-login:hover{
    text-decoration:underline;
  }